@model IEnumerable<ControlePatrimonial.Models.Setor>

@{
    ViewData["Title"] = "Cadastro de Setor";
}



<div class="container-md">

    <div class="card-header" style="">
        <h1 style="padding: 5px; font-size: xx-large;">Cadastro de Setor</h1>
    </div>
</div>