
@model IEnumerable<ControlePatrimonial.Models.Empresa>

@{
    ViewData["Title"] = "Cadastro de empresa";
}


<div class="container-md">
    <div class="card-header" style="margin-top: -35px">
        <h1 style="padding: 5px; border-radius: 5px; font-size: xx-large;">Cadastro de empresa</h1>
    </div>
    <div style="margin-top: 30px">
        <form id="cadEmpresa" method="post">
            <div class="form-group col-md-12 form-control-file" style="margin-top: 30px;">

                <div class="form-row row col-md-12">
                    <div class="form-group col-md-1">
                        <label>Código</label>
                        <input class="form-control" readonly>
                        <span class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row row col-md-12">
                    <div class="form-group col-md-5">
                        <label>Nome fantasia</label>
                        <input class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-7">
                        <label>Razão social</label>
                        <input class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row row col-md-12">
                    <div class="form-group col-md-5">
                        <label>Rua</label>
                        <input class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Bairro</label>
                        <input class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Cidade</label>
                        <input class="form-control" />
                        <span class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-1">
                        <label>Número</label>
                        <input class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row row col-md-12">
                    <div class="form-group col-md-2">
                        <label>Tipo</label>
                        <input class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Cnpj</label>
                        <input class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <label>CEP</label>
                        <input class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-5">
                        <label>Complemento</label>
                        <input class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group col-md-12" style="margin-top: 10px; justify-content:flex-end; display: flex">
                    <button type="submit" class="btn btn-primary btn-lg">Salvar</button>
                </div>
            </div>

        </form>
    </div>
</div>
