@model EmpresaViewModel

@{
    ViewData["Title"] = "Empresa_Cadastro";
}

<div class="card-header" style="margin-top: -35px">
    <h1 style="padding: 5px; border-radius: 5px; font-size: xx-large;">Cadastro de empresa</h1>
</div>
<div class="container-md row" style="margin-top: 30px">
    <div class="form-group col-md-12 form-control-file" style="margin-top: 30px;">
        <form asp-action="Empresa_Salvar" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-row row col-md-12">
                 <div class="form-group col-md-2">
                    <label class="control-label">Data de cadastro</label>
                    <input type="date" class="form-control"/>
                    <span asp-validation-for="empresa.DataCadastro" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">CNPJ</label>
                    <input asp-for="empresa.CnpjCpf" class="form-control" />
                    <span asp-validation-for="empresa.CnpjCpf" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row row col-md-12">
                <div class="form-group col-md-6">
                    <label class="control-label">Nome fantasia</label>
                    <input asp-for="empresa.NomeFantasia" class="form-control" />
                    <span asp-validation-for="empresa.NomeFantasia" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label">Razão social</label>
                    <input asp-for="empresa.RazaoSocial" class="form-control" />
                    <span asp-validation-for="empresa.RazaoSocial" class="text-danger"></span>
                </div>
            </div>


            <div class="form-row row col-md-12">
                <div class="form-group col-md-6">
                    <label class="control-label">Rua</label>
                    <input asp-for="empresa.Rua" class="form-control" />
                    <span asp-validation-for="empresa.Rua" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Bairro</label>
                    <input asp-for="empresa.Bairro" class="form-control" />
                    <span asp-validation-for="empresa.Bairro" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Cidade</label>
                    <input asp-for="empresa.Cidade" class="form-control" />
                    <span asp-validation-for="empresa.Cidade" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row row col-md-12">
                <div class="form-group col-md-2">
                    <label class="control-label">CEP</label>
                    <input asp-for="empresa.Cep" class="form-control" />
                    <span asp-validation-for="empresa.Cep" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Complemento</label>
                    <input asp-for="empresa.Complemento" class="form-control" />
                    <span asp-validation-for="empresa.Complemento" class="text-danger"></span>
                </div>

                <div class="form-group col-md-2">
                    <label class="control-label">Número</label>
                    <input asp-for="empresa.Numero" class="form-control" />
                    <span asp-validation-for="empresa.Numero" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label class="control-label">Tipo empresa</label>
                    <input asp-for="empresa.Tipo" class="form-control" />
                    <span asp-validation-for="empresa.Tipo" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label class="control-label">Telefone</label>
                    <input asp-for="empresa.Telefone" class="form-control" />
                    <span asp-validation-for="empresa.Telefone" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row col-md-12" style="margin-top: 10px;">
                <div class="form-group col-md-6" style="display: flex; justify-content:flex-start;">
                    <a style="margin-right: 5px;" class="btn btn-primary btn-lg" asp-controller="Empresa" asp-action="Empresa_Lista">Voltar</a>
                </div>
                <div class="form-group col-md-6" style="display: flex; justify-content:flex-end;">
                    <input class="btn btn-primary btn-lg" type="submit"  value="Salvar"  />
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
